@font-face{
    font-family: nexaLight;
    src: url(./../fonts/Nexa\ Light.otf);
}
@font-face{
    font-family: nexaBold;
    src: url(./../fonts/Nexa\ Bold.otf);
}
*{
    font-family: nexaLight;
}

.nav-bar.nav-mobile {
    min-height: 4.375em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  .nav-bar.nav-mobile .nav-branding {
    font-size: 2rem;
    font-weight: 600;
    transition: color 500ms ease;
  }
  
  .nav-bar.nav-mobile .nav-branding:hover, .nav-branding:focus {
    color: dodgerblue;
  }
  
  .nav-bar.nav-mobile .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.375em;
    flex-direction: column;
    /* padding-left: 10%; */
    width: 55%;
     height: 100%;
    text-align: left;
    transition: 750ms;
  }
  
  .nav-bar.nav-mobile .nav-menu.active {
    left: -7%;
    /* top: 12%; */
  }
  
  .nav-bar.nav-mobile .nav-item {
    /* margin: 1em 0; */
    margin-top: 20px;
    list-style: none;
  }
  
  .nav-bar.nav-mobile .nav-link {
    transition: 400ms ease;
  }
  
  /* .nav-bar.nav-mobile .nav-link:hover, .nav-link:focus {
    color: dodgerblue;
  
  } */
  
  .nav-bar.nav-mobile .hamburger {
    cursor: pointer;
    z-index: 1000;
  }
  
  .nav-bar.nav-mobile .bar {
    display: block;
    background-color: #fff;
    width: 24px;
    /* The following 2 properties are essential in creating the "X" when the hamburger is clicked. If you change just 1 of the 2, then you need to find the proper combination for the other one */
    height: 2px;
    margin: 6px auto;
  
    /*    -webkit-transition: all 300ms ease;  */
    transition: all 300ms ease-in-out;
  }
  
  .nav-bar.nav-mobile .hamburger.active .bar:nth-child(2) {
    opacity: 0
  }
  
  .nav-bar.nav-mobile .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .nav-bar.nav-mobile .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  @media (min-width: 768px) {
  
      .nav-bar.nav-mobile .nav-menu {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      width: auto;
    }
  
    .nav-bar.nav-mobile .hamburger {
      display: none;
    }
  }

/* start header */
header{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}
header .nav1 img{
    width: 30%;
    opacity: .8;
    cursor: pointer;
}
header .nav1 ul{
    margin-bottom: 0;
    margin-top: 4%;
}
header .nav1 ul li img{
    width: 20px;
    height: 20px;
}
header .line{
    border-bottom: 1px solid #858382;
    margin-top: 1.5%;
}
header nav a{
    color: #fff;
}
header .form-control:focus {
    background: bottom;
}
header .form-control{
    color: #fff;
}
header .nav-item .dropdown button{
    background: bottom;
    border: none;
    outline: none;
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active{
    background: #464747;
    color: #fff;
}
.dropdown-menu.show{
    padding: 0;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #ccc;
}
header .nav-item a,
header .nav-link:focus,
header .nav-link:hover,
header .navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
}
header .navbar-expand-lg .navbar-nav .dropdown-menu {
    opacity: .8;
    color: #707070;
    background-color: #ccc;
    border: none;
    outline: none;
}
header.navbar-expand-lg .navbar-nav .dropdown-menu,
header ul li a.dropdown-item {
    color: #000;
}
header .search{
    position: relative;
    display: flex;
    width: 30%;
    height: auto;
    min-height: 30px;
}
header img.imgSearch{
    position: absolute;
    width: 5%;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
}
header .search input{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 7%;
    bottom: 0;
    border-radius: 0;
    border: none;
    outline: none;
    color: #fff !important;
    background: bottom;
}
.form-control:focus{
    box-shadow: none;
}
header .search input::placeholder {
    color: #fff; 
    font-size: 14px;
}
header .search button{
    border: none;
    background: bottom;
    right: 2%;
}
header .search button img{
    position: absolute;
    width: 7%;
    height: 30%;
    right: 2%;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* end header */
.slider{
    position: relative;
}
.slider #carouselHeader{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    /* min-height: 872px; */
}
.slider #carouselHeader .carousel-indicators{
    right: 0;
    left: auto;
    margin-right: 5%;
    margin-bottom: 2rem;
}
.carousel-indicators [data-bs-target]{
    width: 70px;
    height: 4px;
    margin-left: 5px;
}
.carousel-caption{
    width: 50%;
    margin: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption img{
    width: 100%;
}
.carousel-caption button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 15px auto;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 34%);
    color: #fff;
    width: 40%;
    padding: 10px 0;
}
/* end header */
/* start join us */
.join-us{
    padding: 60px 0;
    background-image: url(./../images/join-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(#e3e2e2, #f6f6f0); */
}
.join-us .text{
    width: 50%;
    margin: 0 auto;
}
.join-us h3{
    text-align: center;
    font-family: nexaBold;
    font-size: 35px;
}
.join-us p{
    color: #A3A3A3;
    text-align: center;
}
.join-us .email-input{
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid #C2C2C2;
    background-color: #F4F4F4;
    margin-top: 4%;
}
.join-us .email-input input{
    position: absolute;
    width: 90%;
    height: 100%;
    border: none;
    top: 0;
    left: 2%;
    bottom: 0;
    background-color: #F4F4F4;
    /* padding-left: 2%; */
}
.join-us .email-input input:focus {
    border-color: #C2C2C2; 
    outline: none; 
  }
.join-us .email-input img{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    /* height: 70%; */
    width: 5%;
}
.join-us .email-input button{
    border: none;
}
/* end join us */

/* start swiper1 */
.swiper1{
    background-color: #f6f6f0;
    padding-bottom: 80px;
}
.swiper1  .swiper-slide .text{
    width: 100%;
    background-color: #f6f6f0;
    text-align: left;
}
.swiper1  .swiper-slide .text p{
    margin-top: 5px;
    margin-bottom: 0;
    color: #888686;
    font-size: 16px;
}
.swiper1  .swiper-slide .text h3{
    font-family: nexaBold;
    font-size: 30px;
    margin-bottom: 5px;
}
.swiper1 .swiper-button-next{
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f6f6f0;
    padding: 0 20px;
    color: #c6c7c3;
}
.swiper1 .swiper-button-prev {
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f6f6f0;
    padding: 0 20px;
    color: #c6c7c3;
}
.swiper1 .swiper-button-next.swiper-button-disabled,
.swiper1 .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    color: #eaebe8;
}
.swiper1 .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper1  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .swiper1 .swiper-slide.main{
    width: 45%;
    margin-left: 5%; 
    height: 450px;
    margin-top: 5%;
}
  .swiper1  .swiper-slide .card{
    text-align: left;
    border-color: #ecece9;
    border-radius: 0;
    height: 100%;
    margin-top: 10%;
  }
  .swiper1  .swiper-slide .card img{
    height: 75%;
  }
  .swiper1  .swiper-slide .card .card-body{
    background-color: #f6f6f0;
  }
  .swiper1 .swiper-slide .card .card-body h5{
    font-family: nexaBold;
    font-size: 18px;
    margin-bottom: 0;
  }
  .swiper1 .swiper-slide .card .card-body p.card-text{
    color: #707070;
    font-size: 16px;
    margin-bottom: 0;
  }
  .swiper1 .swiper-slide .card .card-body span.discount{
    text-decoration: line-through;
    color: #a0a09e;
    margin-right: 7px;
  }
  .swiper1 .swiper-slide .card .card-body strong{
    color: #dbae00;
    font-size: 18px;
  }
  .swiper1  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper1  .swiper-slide {
    width: 30%;
    /* margin-right: 30px; */
    height: 530px;
  }
  /* .swiper1  .swiper-slide:nth-child(1n){
    margin-left: 5%;
  } */
  .swiper1  .swiper-slide:nth-child(2n) {
    width: 30%;
    margin-left: 0;
  }

  .swiper1 .swiper-slide:nth-child(3n) {
    width: 25%;
    margin-left: 0;
  }
/* end swiper1 */

/* start cover */
.cover{
    background-image: url(./../images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 509px;
    position: relative;
}
.cover .text{
    width: 50%;
    margin: auto;
    position: absolute;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cover .text button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 15px auto;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 34%);
    color: #fff;
    width: 40%;
    padding: 10px 0;
}
.cover .text h3{
    color: #fffefe;
    text-align: center;
    font-family: nexaBold;
    font-size: 35px;
}
.cover .text p{
    width: 70%;
    color: #f0f0f0;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin: 2% 0;
}
/* end cover */

/* start .swiper2 */
.swiper2 .swiper {
    width: 100%;
    height: 100%;
}

.swiper2 .swiper-slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}

.swiper2 .swiper-slide img {
display: block;
width: 100%;
}

@media only screen and (min-width: 769px) {
.swiper2 .swiper-slide:first-child {
    transition: transform 100ms;
}

.swiper2 .swiper-slide:first-child img {
    transition: box-shadow 500ms;
}

.swiper2 .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
}

.swiper2 .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
}

.swiper2 .swiper-slide:nth-child(2) {
    transition: transform 100ms;
}

.swiper2 .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
}

.swiper2 .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
}

.swiper2 .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
}
}
/* end .swiper2 */

/* start office */
.office{
    background-color: #f6f6f0;
    padding: 50px 0;
}
.office img{
    width: 100%;
}
.office .office1{
    position: relative;
    background-image: url(./../images/swiper2-a.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.office .office2{
    position: relative;
    background-image: url(./../images/swiper2-b.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.office .office1 h3,
.office .office2 h3{
    color: #fffefe;
    text-align: center;
    font-family: nexaBold;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.office .line{
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 7px;
    background-color: #d7d6d7;
}
.office .line .inside{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 24%;
    height: 100%;
    background-color: #898888;
}
/* end office */

/* start about */
.about{
    background-color: #f6f6f0;
    padding: 60px 0;
}
.about h3{
    text-align: center;
    font-family: nexaBold;
    font-size: 35px;
}
.about p{
    text-align: center;
    width: 65%;
    margin: 2% auto;
    font-size: 20px;
    line-height: 26px;
}
/* end about */

/* start product */
.product{
    background-image: url(./../images/product.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    position: relative;
}
.product .text{
    position: absolute;
    width: 40%;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}
.product .text h3{
    font-family: nexaBold;
    font-size: 35px;
}
.product .text p{
    width: 80%;
    font-size: 18px;
    line-height: 24px;
    margin: 3% 0 4%;
}
.product .text button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B1B1B;
    background-color: rgba(0, 0, 0, 4%);
    width: 40%;
    padding: 6px 0;
}
/* end product */
/* start product1 */
/* end product1 */
.product1{
    background-color: #f6f5f1;
    padding: 50px 0;
}
.product1 .productt h4{
    font-family: nexaBold;
}
.product1 .productt p{
    font-size: 18px;
    line-height: 22px;
    color: #858382;
    margin-bottom: 10px;
}
.product1 .productt span.discount{
    text-decoration: line-through;
    color: #a0a09e;
    margin-right: 7px;
}
.product1 .productt strong{
    color: #dbae00;
    font-size: 18px;
}
.product1 .productt img{
    width: 95%;
}
.product1 .product-a img{
    margin-top: 7%;
}
.product1 .product-b img{
    margin-bottom: 7%;
}
.product1 .productt p{
    width: 65%;
}
/* start swiper3 */
.swiper3{
    background-color: #f6f5f1;
    padding: 50px 0;
}
.swiper3 .swiper {
    width: 100%;
    height: 100%;
}
.swiper3 .swiper-slide {
text-align: center;
font-size: 18px;
/* background: #fff; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.swiper3 .swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper3 .swiper-slide .text{
    text-align: left;
    background-color: #f6f5f1;
    width: 100%;
}
.swiper3 .swiper-slide .text h5{
    font-family: nexaBold;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.swiper3 .swiper-slide .text p{
    margin-bottom: 5px;
    color: #858382;
}
.swiper3 .swiper-slide .text span.discount{
    text-decoration: line-through;
    color: #a0a09e;
    margin-right: 7px;
}
.swiper3 .swiper-slide .text strong{
    color: #dbae00;
    font-size: 18px;
}
.swiper3 .swiper-button-next, .swiper3 .swiper-button-prev{
    color: #707070;
    top: 40%;
}
/* end swiper3 */

/* start un-mobile */
header .logo-mobile,
header .right-part,
header .left-part,
.swiper1-mob,
.slider-mobile,
.swiper-button-next,
.swiper-button-next{
    display: none;
}
/* start media query */
@media (max-width: 1270px) {
    .product .text {
        width: 35%;
    }
}
@media (max-width: 1190px) {
    .product {
        height: 740px;
    }
    .product .text p{
        width: 100%;
    }
}
@media (max-width: 1040px) {
    .product {
        height: 650px;
    }
}
@media (max-width: 915px) {
    .product {
        height: 530px;
    }
}
@media (max-width: 745px) {
    .product {
        height: 450px;
    }
    .product .text h3{
        font-size: 28px;
    }
    .product .text p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .product .text button {
        width: 55%;
        font-size: 14px;
        padding: 1px 0;
        margin-top: 5px;
    }
}
@media (max-width: 630px) {
    .product {
        height: 350px;
    }
    .product .text {
        width: 43%;
    }
}
@media (max-width: 565px) {
    .product {
        height: 305px;
    }
    .product .text h3 {
        font-size: 22px;
        line-height: 15px;
    }
    .product .text p {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 495px) {
    .product {
        height: 295px;
    }
}
@media (max-width: 475px) {
    .product {
        height: 240px;
    }
}
@media (max-width: 453px) {
    .product {
        height: 220px;
    }
    .product .text h3 {
        font-size: 18px;
        line-height: 11px;
    }
    .product .text button {
        margin-top: 10px;
    }
}
@media (max-width: 445px) {
    .product .text {
        width: 47%;
    }
}
@media (max-width: 380px) {
    .product .text button {
        margin-top: 2px;
    }
    .product .text h3 {
        font-size: 15px;
        line-height: 5px;
    }
}
@media (max-width: 991px) {
    .join-us .text {
        width: 90%;
    }
}
@media (max-width: 767px) {
    .nav-bar.nav-mobile .nav-menu {
        padding-left: 10%;
    }
    .slider, .swiper1{
        display: none;
    }
    .slider-mobile{
        display: block;
        position: relative;
        width: 100%;
        height: 530px;
        background-image: url(./../images/mob\ bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .slider-mobile .text{
        position: absolute;
        width: 50%;
        margin: auto;
        right: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slider-mobile .text button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        border: 1px solid #fff;
        background-color: rgba(0, 0, 0, 34%);
        color: #fff;
        /* width: 40%; */
        padding: 6px 30px;
    }
    .nav-bar.nav-mobile .nav-menu {
        background-image: url(./../images/pattern.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* background-color: #fff; */
        /* opacity: 80%; */
        color: #000;
    }
    header .nav-item a,
    header .nav-item .dropdown button{
        color: #000;
    }
    header .search, header .line, header .nav1{
        display: none;
    }
    .custom-mobile{
        width: 90%;
        margin: auto;
        min-height: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        /* justify-content: end; */
        left: -50%;
        transform: translateX(55%);
    }
    header .logo-mobile,
    header .right-part,
    header .left-part{
        display: flex;
        justify-content: space-around;
    }
    .logo-mobile img{
        width: 50%;
    }
    header .left-part img,
    header .right-part img{
        width: 20px;
        height: 20px;
    }
    .join-us h3 {
        font-size: 28px;
    }
    .join-us p{
        line-height: 20px;
    }
    .swiper1-mob{
        display: block;
        background-color: #f6f6f0;
        padding: 50px 0;
    }
    .swiper1-mob .card, .swiper1-mob .main-card{
        min-height: 370px;
        margin-bottom: 20px;
        position: relative;
    }
    .swiper1-mob .text h3 {
        font-family: nexaBold;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .swiper1-mob .text p {
        margin-top: 5px;
        margin-bottom: 0;
        color: #888686;
        font-size: 16px;
    }
    .swiper1-mob .card .card-body h5 {
        font-family: nexaBold;
        font-size: 18px;
        margin-bottom: 0;
    }
    .swiper1-mob .card .card-body p.card-text {
        color: #707070;
        font-size: 16px;
        margin-bottom: 0;
    }
    .swiper1-mob .card .card-body span.discount {
        text-decoration: line-through;
        color: #a0a09e;
        margin-right: 7px;
    }
    .swiper1-mob .card .card-body strong {
        color: #dbae00;
        font-size: 18px;
    }
    .swiper1-mob .card .card-body {
        background-color: #f6f6f0;
    }
    .cover .text {
        width: 90%;
    }
    .cover .text button {
        padding: 7px 0;
    }
    .about p{
        width: 100%;
    }
    .office .office1{
        margin-bottom: 30px;
        height: 320px;
    }
    .office .office2{
        height: 320px;
    }
}
@media (max-width: 575px){
    .swiper1-mob .main-card{
        margin-bottom: 0;
    }
    .swiper1-mob .main-card img{
        height: 250px;
    }
    .swiper1-mob .card{
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
    }
    .cover .text {
        width: 100%;
    }
    .cover .text h3,
    .about h3 {
        font-size: 28px;
    }
    .cover .text p, .about p {
        width: 90%;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .about{
        padding-bottom: 0;
    }
    .office .line{
        display: none;
    }
    .product1 .productt h4{
        font-size: 20px;
    }
    .product1 .productt p {
        font-size: 15px;
        line-height: 17px;
        width: 100%;
    }
    .product1 .productt span.discount {
        font-size: 14px;
    }
    .product1 .productt strong {
        font-size: 16px;
    }
    .swiper-button-next,
    .swiper-button-next{
        display: block;
    }
    .swiper3 .swiper-slide .text h5 {
        font-size: 19px;
    }
    .swiper3 .swiper-slide .text p, .swiper3 .swiper-slide .text strong {
        font-size: 17px;
    }
    .swiper3 .swiper-slide .text span.discount{
        font-size: 16px;
    }
    .swiper1-mob .card .card-body strong {
        font-size: 16px;
    }
}
@media (max-width: 475px){
    .swiper1-mob .card, .swiper1-mob .main-card {
        min-height: 350px;
    }
    .office .office1,
    .office .office2{
        height: 260px;
    }
    .office .office1 h3, .office .office2 h3 {
        font-size: 28px;
    }
}
@media (max-width: 425px){
    .join-us .email-input{
        height: 35px;
    }
    .join-us .email-input input {
        font-size: 15px;
    }
    .product .text button {
        padding: 0;
        margin-top: 7px;
    }
    .product .text p {
        font-size: 12px;
        line-height: 14px;
    }
    .swiper1-mob .card, .swiper1-mob .main-card {
        min-height: 325px;
    }
    .swiper1-mob .main-card img{
        height: 200px;
    }
}
@media (max-width: 407px) {
    .join-us h3 {
        font-size: 21px;
    }
    .join-us p {
        font-size: 15px;
    }
    .swiper1-mob .text h3 {
        font-size: 28px;
    }
    .swiper1-mob .text p {
        font-size: 15px;
        line-height: 18px;
    }
}
@media (max-width: 363px) {
    header .logo-mobile{
        width: 90%;
    }
    .office .office1, .office .office2 {
        height: 200px;
    }
}
@media (max-width: 363px) {
    .slider-mobile .text {
        width: 60%;
    }
}
/* end media query */
